# Valid options are [debug, info, warn, error]. Defaults to INFO.
LOGLEVEL=debug

# IP address to bind in the host. Docker default is 0.0.0.0 (all network interfaces)
# Default here is 127.0.0.1 (localhost), for safety concerns.
HOST_IP=127.0.0.1

# Defaults for these 2 fields are 8080
HOST_PORT=YOUR_HOST_PORT_HERE
CONTAINER_PORT=YOUR_CONTAINER_PORT

JWT_KEY=YOUR_JWT_KEY_HERE

# From docker-compose.yml
DB_HOST=DB_SERVICE_NAME_IN_COMPOSE
DB_USER=YOUR_USERNAME
DB_PASSWORD=YOUR_PASSWORD
DB_PORT=YOUR_DB_PORT
DB_NAME=YOUR_DB_NAME

MYSQL_ROOT_PASSWORD=YOUR_MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=${DB_NAME}
MYSQL_USER=${DB_USER}
MYSQL_PASSWORD=${DB_PASSWORD}
MYSQL_TCP_PORT=${DB_PORT}